<!DOCTYPE html>
<html>
  <head>
    <title>Swagger UI</title>
    <%= favicon_link_tag 'swaggard/favicon-32x32.png', sizes: '32x32' %>
    <%= favicon_link_tag 'swaggard/favicon-16x16.png', sizes: '16x16' %>
    <link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@5.32.0/swagger-ui.css">
  </head>
  <body>
    <div id="swagger-ui"></div>

    <script id="swagger-config" type="application/json">
      <%= {
        url:                  doc_path(format: :json),
        authType:             @authentication_type,
        authKey:              @authentication_key,
        authValue:            @authentication_value,
        additionalParameters: Swaggard.configuration.additional_parameters
      }.to_json.html_safe %>
    </script>

    <script src="https://unpkg.com/swagger-ui-dist@5.32.0/swagger-ui-bundle.js"></script>
    <script>
      window.onload = function() {
        var config = JSON.parse(document.getElementById('swagger-config').textContent);

        SwaggerUIBundle({
          url:         config.url,
          dom_id:      '#swagger-ui',
          deepLinking: true,
          presets:     [SwaggerUIBundle.presets.apis],
          plugins:     [SwaggerUIBundle.plugins.DownloadUrl],
          requestInterceptor: function(request) {
            if (config.authValue) {
              if (config.authType === 'header') {
                request.headers[config.authKey] = config.authValue;
              } else {
                var url = new URL(request.url);
                url.searchParams.set(config.authKey, config.authValue);
                request.url = url.toString();
              }
            }

            (config.additionalParameters || []).forEach(function(param) {
              if (param.type === 'header') {
                request.headers[param.key] = param.value;
              } else if (param.type === 'query') {
                var url = new URL(request.url);
                url.searchParams.set(param.key, param.value);
                request.url = url.toString();
              }
            });

            return request;
          }
        });
      }
    </script>
  </body>
</html>
