//= depend_on_asset 'swaggard/droid-sans-v6-latin-regular.eot'
//= depend_on_asset 'swaggard/droid-sans-v6-latin-regular.woff2'
//= depend_on_asset 'swaggard/droid-sans-v6-latin-regular.ttf'
//= depend_on_asset 'swaggard/droid-sans-v6-latin-regular.svg'
//= depend_on_asset 'swaggard/droid-sans-v6-latin-700.eot'
//= depend_on_asset 'swaggard/droid-sans-v6-latin-700.woff2'
//= depend_on_asset 'swaggard/droid-sans-v6-latin-700.ttf'
//= depend_on_asset 'swaggard/droid-sans-v6-latin-700.svg'

/* droid-sans-regular - latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: font-url('swaggard/droid-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Droid Sans'), local('DroidSans'),
       font-url('swaggard/droid-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('swaggard/droid-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('swaggard/droid-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       font-url('swaggard/droid-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('swaggard/droid-sans-v6-latin-regular.svg#DroidSans') format('svg'); /* Legacy iOS */
}

/* droid-sans-700 - latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: font-url('swaggard/droid-sans-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Droid Sans Bold'), local('DroidSans-Bold'),
       font-url('swaggard/droid-sans-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('swaggard/droid-sans-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('swaggard/droid-sans-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       font-url('swaggard/droid-sans-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('swaggard/droid-sans-v6-latin-700.svg#DroidSans') format('svg'); /* Legacy iOS */
}